<h1>TWATTER</h1>

<p>*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_</p>


<% @messages.each do |message| %>
  <div class="message">
    <p>
      <strong><%= message.author %>:</strong>   
      <a href="/messages/<%= message.id %>"><%= message.content %></a>
      <% if message.url %>
        Link: <a href="http://<%= message.url %>"><%= message.url %></a>
      <% end %>
    </p>
    <hr/>
  </div>
<% end %>

<a href="/messages/new">Post a message... It's FREE (for now)!</a>
